.followercard{
    width:100%;
    border-radius: 2px;
    display:flex;
    flex-direction: column;
    font-size: 13px;
    
}

.followers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

}

.followers>div{
    display: flex;
    gap:10px;
}
.followerImage{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}


